<launch>
  <!-- Incluye el archivo rand_vel_turtle.launch del paquete beginner_tutorials -->
  <include file="$(find beginner_tutorials)/launch/rand_vel_turtle.launch" />

  <!-- Inicia el nodo subpose del paquete beginner_tutorials -->
  <node
    pkg="beginner_tutorials"
    type="subpose"
    name="pose_subscriber"
    output="screen"
  />
</launch>
